<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'POST',
        url: '/enteruser_post',
        data: JSON.stringify({
            firstname: 'ksy',
            lastname: 'beck',
        }),
        contentType: 'application/json'
    })
</script>